# Dependencies
node_modules/

# Environment variables
.env

# Firebase service account (KREDENSIAL BERSIFAT RAHASIA BRAYY BAHAYA KALO DI SHARE!)
serviceAccountKey.json

# Log files
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Build files
dist/
build/